<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Add User Page</title>
    </head>

   <body bgcolor="#E6E6FA">
    <div align="left">
        <h1 style="color:darkblue;">Add New User</h1><br/>
        <form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>First Name</td>
                    <td><input type="text" th:field="*{firstName}" /></td>
                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" th:field="*{lastName}" /></td>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td><input type="text" th:field="*{title}" /></td>
                    <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Add</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>